header{
    background-color: #2C3E50;
}

ul{
    list-style-type: none;
    font-size: 90%;
}

hr{
    width: 100px;
    color: white;
}

.pics img{
    width: 100%;
    border-radius: 10px;
}

.h-r hr{
    color: blue;
}

.button{
    width: 15%;
    margin: 0 auto;
    background-color: #198754;
    border-radius: 5px;
    border: 1px solid white;
}

.h-r-r{
    color: gray;
    width: 100%;
}

.info{
    background-color: #3A546D;
}


.copyright{
    background-color: #2C3E50;
}

.nav-mia{
    background-color: #2C3E50;
}